body {
    font-family: sans-serif;
    line-height: 1.5em;
    margin: 100px;
    margin-top: 5px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28.8px;
    border-bottom: 2px solid gray;
    font-weight: normal;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21px;
    border-bottom: 1px solid gray;
    font-weight: normal;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenidos {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.columna-1, .columna-2 {
    width: 100%
}

.columna-1 {
    position: sticky;
    top: 10vh;
    height: fit-content;
    align-content: flex-start;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 14px;
}

.acero {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.articulo-discusion, .leer-editar {
    border-bottom: 1px solid gray;
}

.Herramientas {
    width: 110px;
    height: 30px;
    border: 1px solid blue;
    background-color: white;
    font-size: 14px;
}

.cuadro.naranja {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 10fr;
    border: gray solid 1px;
    border-top: orange solid 5px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 80px;
    background-color: #f9f9f9;
}

.cua-1, .cua-2 {
    width: 95%;
}

.cua-1 {
    display: flex;
    align-content: center;
    margin: 2px;
    margin-left: 10px;
}

.violin {
    display: grid;
    grid-template-columns: 2.5fr 1.1fr;
}

.normal, .cuadro-azul {
    width: 95%
}

.cuadro-azul {
    border-color: #B4BBC8 solid 1px;
    height: fit-content;
}

.dentro-cuadro{
    border: #f9f9f9 solid 4px;
    background-color: #f9f9f9;
}

.violin2 {
    font-size: 18px;
    background-color: #b0c4de;
    text-align: center;
    color: inherit;
    padding-top:  10px;
    padding-bottom: 10px;

}

.img-violin, .img-violin-2 {
    text-align: center;
    margin: 3px;
}

.Características, .Tesirura {
    background-color: #b0c4de;
    text-align: center;
    color: inherit;
}

.Clasificación, .musicos {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin-top: 0px;
}

.cla-1, .cla-2 {
    width: 95%;
    font-size: 12px;
}

.Instrumentos-relacionados {
    display: grid;
    grid-template-columns: 2fr 3fr; 
    margin-top: 0px;
}

.ins-1, .ins-2 {
    width: 95%;
    font-size: 12px;

}

.mus-1, .mus-2 {
    width: 95%;
    font-size: 12px;
}

.logo {
    top: 5px;
    left: 0px;
    
}

.arriba {
    display: flex;
  align-items: center;
  justify-content: space-between;
}

.acceder {
    text-align: right;
    width: 100%;
}

input[type="text"] {
    width: 200px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-top: 0px;
}

.pure-button.pure-button-active {
    padding: 10px;
    font-size: 16px;
}


.Referencias {
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.columna-3, .columna-4 {
    font-size: 14px;
    width: 90% 
}

.Bibliografía {
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.columna-5, .columna-6 {
    font-size: 14px;
    width: 90% 
    
}

.control-de-autoridades {
    margin: 30px;
    border: gray solid 1px;
    display: grid;
    background-color: #f9f9f9;
    grid-template-columns: 1fr 3fr;
}

.columna-7, .columna-8 {
    font-size: 14px;
    width: 95% 
}

.columna-7 {
    background-color: #ddddff;
    font-family: sans-serif;
    border: white solid 2px; 
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.columna-8 {
    background-color: #f9f9f9 ;
}

.categorias {
    border: gray solid 1px;
    width: 95% ;
    margin: 10px;
    padding-left: 10px;
    background-color: #f9f9f9;
}

.final {
    font-size: 12px;
    margin-left: 5%;
}